@import "tailwindcss";

@font-face {
  font-family: "Brandon";
  src: url("/apps/abbott/dayabeneficios/fonts/Brandon_reg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Brandon";
  src: url("/apps/abbott/dayabeneficios/fonts/Brandon_blk.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Brandon";
  src: url("/apps/abbott/dayabeneficios/fonts/Brandon_light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@theme{
  --color-vitamina-a: #d98125;
  --color-vitamina-c: #f24b0c;
  --color-vitamina-d: #e00735;
  --color-zinc: #b00061;
  --color-complejo-b: #5d0968;
  --color-calcio: #29358f;
  --color-hierro: #1686cd;
  --color-magnesio: #9dd799;
  --color-blue-abbott: #1686cd;

  /* gradient */
  --gradient-button:  135deg, #b10165 0%, #ff2b01 50%, #db8d14 100%;
  --gradient-button-reverse:  315deg, #b10165 0%, #ff2b01 50%, #db8d14 100%;


  --font-brandon: "Brandon", sans-serif;
  --font-georgia: Georgia, serif;

  --breakpoint-xs: 26rem;
}

.bg-home-bottom-radial {
  background: radial-gradient(circle at 50% 35%, #fff 0%, #fff 72%, rgba(22, 134, 205, 0.25) 88%, var(--color-blue-abbott) 100%);
}
