@import "tailwindcss";

@font-face {
  font-family: "Brandon";
  src: url("/apps/abbott/dayabeneficios/fonts/Brandon_reg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Brandon";
  src: url("/apps/abbott/dayabeneficios/fonts/Brandon_blk.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Brandon";
  src: url("/apps/abbott/dayabeneficios/fonts/Brandon_light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@theme{
  --color-vitamina-a: #ffd100;
  --color-vitamina-c: #ff6900;
  --color-vitamina-d: #e4002b;
  --color-zinc: #aa0061;
  --color-complejo-b: #470a68;
  --color-calcio: #64ccc9;
  --color-hierro: #5bc2e7;
  --color-magnesio: #470a68;
  --color-blue-abbott: #1686cd;

  --color-point: #1686CD;

  /* gradient */
  --gradient-button:  135deg, #b10165 0%, #ff2b01 50%, #db8d14 100%;
  --gradient-button-reverse:  315deg, #b10165 0%, #ff2b01 50%, #db8d14 100%;


  --font-brandon: "Brandon", sans-serif;
  --font-georgia: Georgia, serif;

  --breakpoint-xs: 26rem;
}

.bg-home-bottom-radial {
  background: radial-gradient(circle at 50% 35%, #fff 0%, #fff 72%, rgba(22, 134, 205, 0.25) 88%, var(--color-blue-abbott) 100%);
}
